*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.mb-2 {
    margin-bottom: .5rem!important;
    /* align-items: center; */
    width: 80%;
    margin-left: 150px;
}
.Bow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 170px;
    height: -14%;
    width: 75%;
    align-items: center;
    justify-content: center;
}
.contact h3{
   text-align: center;
   
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 70px;
}
#btn1{
    margin-left: 70px;
}
